# Exemplo de arquivo .env
# NUNCA insira as suas chaves reais aqui e envie para o GitHub!
# No Render, essas variáveis devem ser configuradas na aba "Environment" do Web Service.

EVOLUTION_API_URL=https://sua-api.evolution.com
EVOLUTION_API_TOKEN=seu_token_global_ou_apikey_da_instancia
EVOLUTION_INSTANCE_NAME=nome_da_sua_instancia
